
  <div class="jumbotron">
    <h1>The Recipe App!</h1>

    <h2> This is the place to find, add, and rate recipes.</h2>
  </div>
    <div class="col-md-4">
  <ul>

     <h2> Recipes <h4>(sorted by star rating):</h4> </h2>

      <% if @recipes != nil %>
  	    <% @recipes.order_by_rating.each do |recipe, star_rating| %>
      <a href="/recipes/<%= recipe.id %>">
  	      <div id="box">
            <h2> <%= recipe.name %></h2>
    	      <h4> Tags: </h4>
    	        <h4><% recipe.tags.each do |tag| %>
    	          <a href="/tags/<%= tag.id %>"><%= tag.name %></a>&nbsp&nbsp&nbsp   
    	        <% end %></h4>
    	     <h4> Average Star Rating: </h4>
    	       <h4><%= recipe.average_rating %></h4>
  	     </div>
        </br>
       <% end %>

      <h2> <% @recipes.each do |recipe| %>
        <div id="box">
  	    <% if !(recipe.average_rating >= 0) %>
  	      <h2> <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h2>
  	       <h3> Tags: </h3>
  	         <p><% recipe.tags.each do |tag| %>
  	          <a href="/tags/<%= tag.id %>"><%= tag.name %>
  	         <% end %></p>
  	      <% end %>
        </div>
      </br>
  	    <% end %>
   <% end %>
      </a>
 </ul>
</div>

  <div class="col-md-7">
   <div class="column-indent">
     </br>
     </br>
     <a href="/recipes/new"><button type="button" class="btn btn-default"><h3>Add a New Recipe</h3></button></a>
     </br>
     </br>
     <h3> Search by Tag </h3>

        <form class="form-inline" action="/" method="get">
          <div class="form-group">
            <input class="form-control" name="query" placeholder="Enter Tag to Search" type="text">
            <button class="btn btn-default" >Search</button>
          </div>
        </form>
   
      <% if @tag_results != nil %>

        <h3>Results from Tag Search</h3>
          <% @tag_results.each do |tag| %>
            <% tag.recipes.each do |recipe| %>
            	<li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
             <% end %>
          <% end %>
     
     <% end %>
     </br>
     </br>
    <h3> Search Recipes Generally </h3>
        <form class="form-inline" action="/" method="get">
          <div class="form-group">
            <input class="form-control" name="search" placeholder="Enter Term" type="text">
            <button class="btn btn-default">Search</button>
          </div>
        </form>
      </div>

     <% if @search_results != nil %>
      <div class="column-indent">
       <h3>Results from Key Word Search</h3>
         <% @search_results.each do |result| %>
            <li><a href="/recipes/<%= result.id %>"><%= result.name %></a></li>
         <% end %>
      <% end %>
    </div>
   </div>
</div>
 
