<h1>The Recipe App!</h1>

<h2> This is the place to add, find, and rate recipes.</h2>
  
<h2> Recipes: </h2>
<ul>

 <% if @recipes != nil %>
  <% @recipes.each do |recipe| %>
    <h2>&nbsp&nbsp  <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h2>
    <h3> Tags: </h3>
    <% recipe.tags.each do |tag| %>
     <h3><a href="/tags/<%= tag.id %>"><%= tag.name %></h3>
     <% end %>
      <h3> Average Star Rating: </h3>
      <h3><%= recipe.average_rating %></h3>
  <% end %>
 <% end %>


<a href="/recipes/new">Add a New Recipe</a> </br>
<h4> Note: click on tags to search recipes by tags </br>